.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
}

.navbar-nav li.nav-item a {
  text-decoration: none;
  color: $white;
  padding: 15px;
  font-family: inherit;
  font-weight: bold;
  background-color: rgba(#1c1c1c, 0.5)
}

.navbar-nav li a:hover {
  text-decoration: none;
  color: $tertiary;
  background-color: $primary;
}

.navbar-nav li a:active,
.navbar-nav li a:focus {
  text-decoration: none;
}