#previous-work {
  .content-section-heading {
    margin-bottom: 2rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    img {
      width: 100%;
      max-height: 80px;
    }
  }
}