#who-we-are {
  .content-section-heading {
    // margin-bottom: 2rem;
  }
  .avatar {
    img {
      border-radius: 200px;
      margin-bottom: 1.6rem;
      margin-top: 2rem;
      width: 200px;
    }
  }

  .flex-grow {
    flex: 1 0 auto;
    height: calc(100% - 264px);
  }

  .profile-col {
    margin-bottom: 2.5rem;
  }

  .profile {
    background-color: $primary-light;
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;

    p {
      &:last-of-type {
        margin-bottom: 3rem;
      }
    }

    .person-name {
      margin-bottom: 0px;
    }

    .job-title {
      font-size: 14px;
      color: #666666;
    }
  }

  .profile-links {
    position: absolute;
    bottom: 2rem;

    a {
      margin-right: 0.5rem;
    }
    img {
      width: 30px;
      opacity: 0.3;
    }
  }

  a {
    color: $secondary;
    font-weight: bold;
  }
}
